@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Jura', sans-serif;
}

.burger-hidden-none {
    transition: 2s;
    display: none;
}

.burger-hidden-block {
    transition: 2s;
    display: block;
}